.headerPrompt {
    color: white;
    padding: 5px;
}

.clubDivs {
    display: block;
    width: 80%;
    margin-right: 10px;
    background-color: gainsboro;
    padding: 10px;
}

.clubEntry {
    background-color: white;
}

.hSpacer {
    width: 20px;
}

.hStack {
    display: flex;
}

.clubNameBlock {
    width: 60%;
}

.vPadding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bodyBackground {
    background-color: #322359;
}
