body {
    background: #322359;
    font-family: system-ui;
    text-align: center;
    
}

a:link {
    color: #322359; /* Regular link color */
  }
  
a:visited {
    color: #322359; /* Same color as regular link */
}

a {
    text-decoration: none;
    background-color: none;
}

.spanningrectangle {
    height: 120px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 400%;
    padding: 15px;
    /* font-family: system-ui; */
    border-radius: 10px;
    text-align: center;
    }

    .rectangle {
    height: 50px;
    width: 100px;
    background-color: #555;
    }

    .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 5px;
    }

    .container div {
    background-color: white;
    aspect-ratio: 15 / 6;
    display: flex;
    border-radius: 10px;
    justify-content:center;
    align-items: center;
    font-size: 400%;
    }