.headerPrompt {
    color: white;
    padding: 5px;
    font-size: larger;
}

.clubEntry {
    background-color: white;
}

.bodyBackground {
    background-color: #322359;
}

.gallery {
    background-color: white;
}

#circle {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.undertext {
    font-size: 100px;
    color: white;
}

.lightblue{
    background-color: #74B5E9;
}

.square-images {
    display: flex;
    flex-wrap: wrap;
  }
  
  .square-images img {
    width: 200px; /* Change this to your desired size */
    height: 200px; /* Change this to your desired size */
    object-fit: cover;
    object-position: center;
  }