<!DOCTYPE html>
<html>
    <head>
        <title>Question Page Grid</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="../static/info.css">
    </head>
    <body>
        <br>
        <div class="container-vert">
            <div>Remember! You have a maximum of 1 minute to answer each question</div>
            <div>Select a choice for 3s to confirm your answer.</div>
        </div>
        
    </body>
    <script>
        const timeout = setTimeout(() => {
        // If the user has not interacted with the page within one minute,
        // redirect to a different HTML page
        window.location.href = "/question/1";
        }, 7000);
    </script>
</html>
   