
<!DOCTYPE html>
<html>
    <head>
        <title>Question Page Grid</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/questions.css">
        <script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div>
            <div class="spanningrectangle">Question 3</div>
        </div>
        
        <br>
        
        <div class="container">
            <a id="toplefttag" href="results.html"><div id="topleft">Go to the beach</div></a>
            <a id="toprighttag" href="results.html"><div id="topright">Go to the mountain</div></a>
            <a id="bottomrighttag" href="results.html"><div id="bottomright">Go to the lake</div></a>
            <a id="bottomlefttag" href="results.html"><div id="bottomleft">Go to the mall</div></a>
        </div>
        
    </body>
    <script src="../sketch.js"></script>
</html>