<!DOCTYPE html>
<html>
    <head>
        <title>Question Page Grid</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="../static/questions.css">
    </head>
    <body>
        <div>
            <div class="spanningrectangle">{{question[0]}}</div>
        </div>
        
        <br>
        <div class="container">
            {% set str = "tag" %}
            {% for answer in answers %}
            <a id="{{ loop.index ~ str }}" href="/response/{{question[1]}}/{{answer[1]}}"><div id="{{loop.index}}">{{answer[0]}}</div></a>
            {% endfor %}
        </div>
        
    </body>
    <script src="../static/sketch.js"></script>
   